DoctorApp/node_modules/.cache/default-development/10.pack
DoctorApp/node_modules/.cache/default-development/0.pack
DoctorApp/node_modules/.cache/default-development/index.pack
DoctorApp/node_modules/.cache/default-development/unreferenced.json
